Repository typicalbot/typicalbot-deno, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nsylke, @tjrgg, @typicalbot/bot

feat: security.md file (#13)
  .github/SECURITY.md
Owners: @nsylke, @tjrgg

refactor: use application owner for debug command
  src/rest/cache.ts
  src/rest/commands/system/debug.ts
Owners: @typicalbot/bot

chore: deno fmt
  src/rest/cache.ts
Owners: @typicalbot/bot

feat: remaining moderation commands
  src/rest/commands/moderation/mute.ts
  src/rest/commands/moderation/slowmode.ts
  src/rest/commands/moderation/softban.ts
  src/rest/commands/moderation/unban.ts
  src/rest/commands/moderation/unmute.ts
  src/rest/commands/moderation/voicekick.ts
  src/rest/commands/moderation/warn.ts
Owners: @typicalbot/bot

feat: slowmode command
  deps.ts
  src/rest/commands/moderation/slowmode.ts
Owners: @nsylke, @typicalbot/bot

fix: slowmode time check
  src/rest/commands/moderation/slowmode.ts
Owners: @typicalbot/bot

chore: deno fmt
  src/rest/commands/moderation/slowmode.ts
Owners: @typicalbot/bot

fix: slowmode time check (conver to seconds)
  src/rest/commands/moderation/slowmode.ts
Owners: @typicalbot/bot

refactor: retrieve application owners by using discordeno internals
  src/rest/mod.ts
Owners: @typicalbot/bot

Apply suggestions from code review
  README.md
Owners: @nsylke, @tjrgg

chore: update readme
  README.md
Owners: @nsylke, @tjrgg

chore: update readme (#14)
  README.md
Owners: @nsylke, @tjrgg

feat: follow command
  src/rest/commands/general/follow.ts
  src/rest/languages/en_US/commands/general/follow.json
Owners: @typicalbot/bot

fix: update log to show correct port
  src/rest/mod.ts
Owners: @typicalbot/bot

refactor: use env for channel to follow; clean up code
  .env.example
  src/rest/commands/general/follow.ts
  src/rest/languages/en_US/commands/general/follow.json
Owners: @nsylke, @typicalbot/bot

chore: deno fmt
  src/rest/mod.ts
Owners: @typicalbot/bot

refactor: update discordeno and use `getApplicationInfo`
  deps.ts
  src/rest/mod.ts
Owners: @nsylke, @typicalbot/bot

refactor: use application owner for debug command (#17)
  deps.ts
  src/rest/cache.ts
  src/rest/commands/system/debug.ts
  src/rest/mod.ts
Owners: @nsylke, @typicalbot/bot

chore: configure .editorconfig
  .editorconfig
  gateway.Dockerfile
  rest.Dockerfile
Owners: @nsylke

chore: configure .editorconfig (#20)
  .editorconfig
  gateway.Dockerfile
  rest.Dockerfile
Owners: @nsylke

chore: deno fmt
  packages/typicalbot-rest/src/events/messageCreate.ts
Owners: @nsylke

fix: paths for language and fileloader
  deno-workspace.json
  packages/typicalbot-rest/src/commands/system/debug.ts
  packages/typicalbot-rest/src/common/util/i18next.ts
  packages/typicalbot-rest/src/common/util/loader.ts
  packages/typicalbot-rest/src/mod.ts
Owners: @nsylke

fix: ensure proper env file is being loaded
  packages/typicalbot-gateway/src/config.ts
  packages/typicalbot-rest/src/config.ts
Owners: @nsylke

chore(denox): add `allow-read` to `start:gateway` script
  deno-workspace.json
Owners: @nsylke

fix: .env not being loaded on linux
  packages/typicalbot-gateway/src/config.ts
  packages/typicalbot-rest/src/config.ts
Owners: @nsylke

feat: votifier (private), datastore-file, datastore-mongo (private) packages
  .gitmodules
  packages/typicalbot-datastore-file/README.md
Owners: @nsylke

refactor: rename file to inmemory
  packages/typicalbot-datastore-file/README.md
  packages/typicalbot-datastore-inmemory/README.md
Owners: @nsylke

feat: vote command
  packages/typicalbot-rest/src/commands/general/vote.ts
Owners: @nsylke

.github/CODEOWNERS:

*                        @nsylke
/LICENSE                 @tjrgg
/README.md               @nsylke @tjrgg
/.github                 @tjrgg
/.github/CONTRIBUTING.md @nsylke @tjrgg
/.github/SECURITY.md     @nsylke @tjrgg
/src                     @typicalbot/bot
